* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.a4wrapper {
    width: 21cm;
    height: 29.7cm;
}

ul.etikett {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 10px;
}

ul.etikett li.namePrice, ul.etikett li.nameOnly {
    position: relative;
    width: 8cm;
    height: 4cm;
    padding: 0.2cm;
    margin: 0;
    float: left;
    border: 1px solid #7eab6b;
    background-color: #aedf99;
}

ul.etikett li.namePrice div.bio {
    position: absolute;
    left: 0.2cm;
    top: 1.75cm;
    background-image: url('../assets/img/bio.png');
    background-size: 70px 40px;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

ul.etikett li.namePrice h1 {
    position: absolute;
    top: 0.2cm;
    font-family: Cambria, serif;
    font-size: 22pt;
    font-weight: bold;
}

ul.etikett li.namePrice p.desc {
    position: absolute;
    top: 1.1cm;
    font-weight: bold;
}

ul.etikett li.namePrice p.price {
    position: absolute;
    top: 1.1cm;
    right: 0.2cm;

    font-family: Cambria, serif;
    font-size: 40pt;
}

ul.etikett li.namePrice p.volume {
    position: absolute;
    bottom: 0.7cm;
    right: 0.2cm;

    font-weight: bold;
}

ul.etikett li.namePrice p.price100g {
    position: absolute;
    bottom: 0.2cm;
    left: 0.2cm;

    font-family: Cambria, serif;
    font-weight: bold;
    font-size: 18pt;
}

ul.etikett li:nth-child(12n) {
    page-break-after: always;
}

ul.etikett li.nameOnly h1 {
    margin-top: 0.2cm;
    position: relative;
    font-family: Cambria, serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}


ul.etikett li.nameOnly p.desc {
    position: relative;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

ul.etikett li.nameOnly div.bio {
    position: absolute;
    right: -0.5cm;
    bottom: 0.01cm;
    background-image: url('bio.png');
    background-size: 70px 40px;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}
